<div class="container mt-4">
  <h2>Admin Dashboard</h2>
  <div class="row my-4">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Loans</h5>
          <p class="card-text">{{ totalLoans }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">Pending Loans</h5>
          <p class="card-text">{{ pendingLoans }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Recent Loans</h5>
          <ul class="list-group list-group-flush">
            <li *ngFor="let loan of recentLoans" class="list-group-item">
              {{ loan.loanType }} - {{ loan.loanAmount | currency }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
