<!-- <div >
  Navbar
 <app-root></app-root>>

  <div class="d-flex flex-grow-1">
    Sidebar (hidden on small screens)
    <div class="bg-light border-end d-none d-md-block" style="width: 250px;">
      <app-sidebar></app-sidebar>
    </div>
 <router-outlet></router-outlet>
    Main content
    <div class="flex-grow-1 p-3">
        <router-outlet></router-outlet>
    </div>
   
  </div>
</div> -->

<!-- <ng-container *ngIf="!isAuthPage">
  <app-header-component></app-header-component>
  <app-hero-component></app-hero-component>
  <app-features-component></app-features-component>
  <app-footer-component></app-footer-component>
</ng-container> -->

<router-outlet></router-outlet>


<!-- class="d-flex flex-column vh-100" -->


