<div class="container mt-4">
  <h3>My Loan Applications</h3>
  <p>Total applications: {{ loanApplications.length }}</p>
<!-- 
  <pre>{{ loanApplications | json }}</pre> -->

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Loan ID</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of loanApplications">
        <td>{{ loan.loanApplicationId }}</td>
        <td>{{ loan.loanType }}</td>
        <td>{{ loan.loanAmount | currency }}</td>
         <!-- <td colspan="5">{{ loan | json }}</td> -->
        <td>
          <span [ngClass]="{
            'badge bg-warning': loan.status === 'Pending',
            'badge bg-success': loan.status === 'Approved',
            'badge bg-danger': loan.status === 'Rejected'
          }">{{ loan.status }}</span>
        </td>
        <td>{{ loan.createdAt | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
</div>
